[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-seed = "*"
pymysql = "*"
drf-yasg = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-environ = "*"
setuptools = "*"
djangorestframework-simplejwt = "*"
django-redis = "*"
drf-spectacular = "*"
django-minio-backend = "*"
python-docx = "*"

[dev-packages]

[requires]
python_version = "3.12"
